.grid {  
    display: grid;  
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    }

    .grid>div {
        border: 1px solid black;
    
    }
    .div1 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .div3 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 2;
    }

    .div4 { 
        writing-mode: vertical-lr; 
        text-orientation: upright; 
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 3;
   }

    