.grid {
    display:grid;
    grid-template-areas:
    "Nav ContentHeader ContentHeader"
    "Nav ContentArticle ContentAside"
    "ContentFooter ContentFooter ContentFooter";
    grid-template-columns:
    1fr 3fr 2fr;
    grid-template-rows:
    1fr 1fr 1fr;
    grid-gap: 5px;
    }

    .grid > div{
        background-color: rgb(124, 183, 124);
    }
   
   