students{
    display:table;
    border-collapse: collapse;
    margin:10px;
}
student, head{
    display: table-row;
}
val, prop{
    display:table-cell;
    border:1px solid black;
    padding: 5px;
    text-align: center;
    background: #ffff00;
}
value, property{
    display: table-cell;
    border:1px solid black;
    padding: 5px;
}